/* @import '../../Styles//variables.css'; */

.propertyDetails {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px; */
    padding: 20px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titleLocation {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.titleLocation h1 {
    font-size: var(--size-xxlarge);
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
}

.host {
    display: flex;
    gap: 10px;
}
.hostImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.tagsRatings {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--quaternary-color);
    color: var(--white-color);
    font-size: var(--size-small-medium);
}

.ratings {
    display: flex;
    gap: 5px;
}

.starfilled {
    color: var(--primary-color);
}

.starEmpty {
    color: var(--quaternary-color);
}

.collapse > div {
    display: flex;
    gap: 20px;
    height: 582px;
    height: 52px;
}