@import '../../Styles/variables.css';

.ratingsContainer {
    display: flex;
    align-items: center;
  }
  
  .starFilled, .starEmpty {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  @media screen and (max-width: 425px) and (min-width: 320px)  {
    .ratingsContainer {
     margin-right: 15px;
      }
    .starFilled, .starEmpty {
        width: 13px;
        height: 13px;
        margin-right: 5px;
      }
  }