@import '../../Styles/variables.css';


.arrow {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}


.arrowUp {
    transform: rotate(0deg);
}

.arrowDown {
    transform: rotate(-180deg);
}

.arrowImg {
    width: 30px;
    height: 20px;
    color: var(--white-color);
}

.left 
.arrowImg {
    position: absolute;
    top: 50%;
    left: 23.5px;
    transform: translateY(-25%);
    z-index: 10;
}
.right 
.arrowImg{
    position : absolute;
    top: 50%;
    right: 23.5px;
    transform: translateY(-75%);
    z-index: 10;
}
