@import '../../Styles/variables.css';


.arrow {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}


.arrowUp {
    transform: rotate(0deg);
}

.arrowDown {
    transform: rotate(-180deg);
}

.arrowImg {
    width: 30px;
    height: 20px;
    color: var(--white-color);
}
.left {
    left: 23.5px;
    transform: rotate(90deg), translateY(-50%);
}
.right {
    right: 23.5px;
    transform: rotate(-90deg) translate(-50%);
}
