@import './reset.css';
@import './variables.css';


.body {
    font-family: 'Montserrat', sans-serif;  /*var(--font-family-primary); */
    font-size: var(--size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--black-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}