
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* display: flex;
    flex-direction:column;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; */

    /*colors*/
    --primary-color: #FF6060;
    --secondary-color: #C4C4C4;
    --tertiary-color: #D62D2D;
    --quaternary-color: #666666;
    --quinary-color: #F6F6F6;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /*sizes*/
    --size-small: 0.75rem; /*12px*/
    --size-small-medium: 0.875rem; /*14px*/
    --size-medium: 1rem; /* 16px*/
    --sizex-x-medium: 1.125rem; /*18px*/
    --size-large: 1.5rem; /* 24px*/
    ---size-xlarge: 2rem; /*32px*/
    --size-xxlarge: 2.25rem; /*36px*/
    --size-xxx-large: 3rem; /*48px*/
    --size-XX-large: 18rem; /*288px*/


    /*font-weights*/
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /*font-family*/
    --font-family-primary: 'Montserrat', sans-serif;
}
/* Classes spécifiques pour Montserrat */
.montserrat-light {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
  }
  
  .montserrat-regular {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
  }
  
  .montserrat-medium {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
  }
  
  .montserrat-bold {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
  }


