:root {
    /*colors*/
    --primary-color: #FF6060;
    --secondary-color: #C4C4C4;
    --tertiary-color: #D62D2D;
    --quaternary-color: #666666;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /*sizes*/
    --size-small: 0.75rem; /*12px*/
    --size-medium: 1rem; /* 16px*/
    --size-large: 1.5rem; /* 24px*/
    ---size-xlarge: 2rem; /*32px*/
    --size-xxx-large: 3rem; /*48px*/

    /*font-weights*/
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /*font-family*/
    --font-family: 'Montserrat', sans-serif;

}


