@import '../../Styles/variables.css';
 @import '../../Styles/index.css';
@import '../../Styles/reset.css'; 

.logo {
    display: block;
    max-width: 210px;
    min-width: 122px;
    height: auto;
    margin: 0;
}

.headerLogo {
    color: var(--primary-color);
    width: 210px;
    margin: 0;
}

.footerLogo {
    color: var(--white-color);
    width: 122px;
    margin-bottom: 29px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .headerLogo {
        width: 145px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .footerLogo {
        width: 122px;
        margin-bottom: 14px;
    }
}