@import '../../Styles/variables.css';
 @import '../../Styles/index.css';
@import '../../Styles/reset.css'; 

.logo {
    display: block;
    max-width: 210px;
    min-width: 122px;
    width: 210px;
    height: auto;
    /* max-height: 68px;
    min-height: 47px; */
    margin: 0;
}

.headerLogo {
    color: var(--primary-color);
}

.footerLogo {
    color: var(--white-color);
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .logo {
        width: 122px;
        height: auto;
    }

    .headerLogo {
        color: var(--primary-color);
    }
    
    .footerLogo {
        color: var(--white-color);
        width: 122px;
    }
}