.layout {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    height: 100vh;
    gap: 50px;
    object-fit: cover;
}
 .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 100PX;
} 
 /* .main {
    flex: 1;
    padding: 20px;
 } */

 