@import '../../Styles/variables.css';

.hostContainer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 10px;
}

.hostName {
    font-family: var(--font-family-primary);
    font-size: var(--size-x-medium);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    text-align: right;
}
.hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .hostContainer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        margin-top: 0;
    }
    .hostName {
        font-size: var(--size-small);
    }
    .hostPicture {
        width: 32px;
        height: 32px;
    } 
}