/* @import '../../Styles/variables.css'; */

/*  */
.collapse {
    width: 100%;
    max-width: 1023px;
    height: 52px;
    background: #ff6060;/* background: var(--primary-color); */
    border-radius: 5px;
    color:  #fff;    /* var(--white-color); */
    padding: 20px;
    margin: 30px auto;
    text-align: left;
    font-size: 1.125rem;        /*var(--sizex-x-medium); ( 18px)*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapseButton {
    width: 100%;
    max-width: 1023px;
    height: 52px;
    background: #ff6060; /* background: var(--primary-color); */
    border-radius: 5px;
    color:  #fff;    /* var(--white-color); */
    padding: 20px;
    margin: 30px auto;
    text-align: left;
    font-size: 1.125rem;        /*var(--sizex-x-medium); ( 18px)*/
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.arrowUP::after {
    /* content: url('../../assets/arrow-up.png'); */
    content: '▲';
}

.arrow::after {
    /* content: url('../../assets/arrow-down.png'); */
    content: '▼';
}

