@import '../../Styles/variables.css';


.collapse {
    width: 100%;
    max-width: 1023px;
    height: 52px;
    margin: 20px auto;
}

.collapseButton {
    width: 100%;
    height: 52px;
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
    padding: 20px;
    margin: 30px auto 0;
    text-align: left;
    font-size: var(--sizex-x-medium);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapseContent {
    width: 100%;
    max-width: 1023px;
    min-width: 335px;
    background: var(--quinary-color);
    color: var(--black-color);
    padding: 0 20px;
    font-size: 1rem;
    height: auto;
    overflow: hidden;
    transition: height 0.6s ease, opacity 0.5s ease-in;
}

.collapseContent.open {
    height: auto;
    padding: 20px;
}

/*style spécifique aux collapses de PropertyDetails*/

.propertyCollapseContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.collapsePropertyDetails {
    flex:1;
    max-width: 48%;
}
