@import '../../Styles/variables.css';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    
}