@import '../../styles/variables.css';


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px 50px;
    margin: 0 auto;
    width: 100%;
    background: var(--quinary-color);
    border-radius: 20px;
}

@media screen and(min-width: 320px) and (max-width: 425px) {
    .gallery {
        padding: 0;
        margin: 0 auto;
        gap: 20px;
        background: var(--white-color);
    }
}
