/* @import '../../Styles/variables.css'; */

.arrowUp::after {
    content: url('../../../../assets/img/ArrowUp.png');
    /* content: '▲'; */
    color: #fff;
    z-index: 1;
}

.arrowDown::after {
   content: url('../../../../assets//img/ArrowDown.png');
   /* content: '▼'; */
   color: #fff;
    z-index: 1;
}