@import '../../Styles/variables.css';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--black-color);
    color: var(--white-color);
    height: 209px;
    width: 100%;
    font-size: var(--size-large);
    font-weight: var(--font-weight-medium);
    gap: 29px;
    padding: 66px 0px 29px;
}

.footerLogo {
    color: var(--white-color);
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 0;
        margin: 0;
    }
    .footer p {
        font-size: var(--size-small);
    }
}