@import '../../styles/variables.css';

.navBarLink {
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
} 

.navBarLinkItem {
    font-family: var(--font-family);
    font-size: var(--size-large);
    font-weight: var(--font-weight-medium);
}

.navBarLinkItem:hover {
    /* color: var(--black-color); */
    text-decoration-line: underline;
}

.active {
    font-size: var(--size-large);
    font-weight: var(--font-weight-medium);
    text-decoration-line: underline;
}

@media screen and (max-width: 375px) {
    .navBarLinkItem {
        font-size: var(--size-small);
        /* margin-right: 10px; */
    }

    .active {
        font-size: var(--size-small);
        /* margin-right: 10px; */
    }
}