@import '../../Styles/variables.css';

.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 89px;
    margin-top: 89px;
    margin-bottom: 89px;
}


@media screen and (min-width: 375px) and (max-width: 767.99px) {


    .notFoundContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 86px;
        margin-top: 86px;
        margin-bottom: 86px;
    }
}

